# Directories to ignore
node_modules/
dist/

# Archives
.env

# Logs
logs/
*.log

# Temporary and backup files
*.tmp
*.bak
*.swp
# IDE and editor specific files
.vscode/
.idea/
.DS_Store
#other project specific files
config.js
